AGENT_SECRET=__REPLACE_ME__
AGENT_LISTEN=__REPLACE_ME__
GRAMSAI_IMAGE=__REPLACE_ME__
GRAMSAI_DATA=__REPLACE_ME__
GRAMSAI_GATEWAY_V1=__REPLACE_ME__
GRAMSAI_DNS=__REPLACE_ME__
GRAMSAI_BASE_PORT=__REPLACE_ME__
